<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="MailUsername" value="sales@discountedflightguru.com"/>
    <add key="MailPassword" value="za842467"/>
    <add key="MailFrom" value="sales@discountedflightfuru.com"/>
    <add key="EnableErrorLogEmail" value="true"/>
    <add key="ErrorLogEmail" value="mike@discountedflightguru.com, leor@elitetravelguru.com, mikem@discountedflightguru.com"/>
    <add key="LeadsPerPage" value="6"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <customErrors mode="Off"/>
    <!---->
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="LeadsConnectionString" connectionString="Data Source=tcp:sql2k1201.discountasp.net;Initial Catalog=SQL2012_905043_dfgleads;User ID=SQL2012_905043_dfgleads_user;Password=Trumpet@67;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>